.products-slider {
  margin-top: 80px;
}

.products {

}

.product {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  &__header {

  }

  &__footer {
    text-align: center;

    @media (max-width: 768px) {
      padding: 0px 70px;
    }

    @media (max-width: 576px) {
      padding: 0px 0px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    color: #F58220;
    margin-bottom: 10px;
  }

  &__description {
    padding: 0px 36px;
    font-size: 14px;
    color: #000;
    font-weight: 300;

    @media (max-width: 576px) {
      margin-top: 20px;
    }
  }

  &__inner {
    padding-top: 80px;
    padding-right: 20px;

    @media (max-width: 1200px) {
      padding-top: 100px;
    }

    @media (max-width: 576px) {
      padding-right: 30px;
    }
  }

  &__img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 265px;

    @media (max-width: 1200px) {
      height: 200px;
    }
  }

}

.products__wrapper {
  position: relative;
}

.products-slider__button {
  position: absolute;
  cursor: pointer;

  svg {
    width: 60px;
    height: 60px;
    fill: #000;

    @media (max-width: 1200px) {
      width: 50px;
      height: 50px;
    }
  }
}

.products-slider__button_prev {
  top: 50%;
  left: -105px;

  @media (max-width: 1200px) {
    left: -70px;
  }
}

.products-slider__button_next {
  top: 50%;
  right: -100px;
  transform: rotate(180deg);

  @media (max-width: 1200px) {
    right: -60px;
  }
}

.product:hover {
  .product__img {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97)
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}